@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');

.ProfileDiv {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    border: 2px solid #fa4299;

}
.ProfileInformation h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.CustomerDiv{
    display: flex;
    flex-direction: column;
}
.ProfileImageDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    /* justify-content: center; */
}

#ProfileImage {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 0px auto;
    border: 3px solid #fa4299;
}

.logoutBtn{
    background: -webkit-linear-gradient(right, #a445b2, #fa4299);
    color: white;
    transition: all 0.4s ease;;
}
.logoutBtn:hover{
    color: white;
    background: -webkit-linear-gradient(right, #fa4299, #a445b2);
    transition: 0.4s ease;;
}

.Bg-Color{
    background: -webkit-linear-gradient(right, #fa4299, #a445b2);
}

nav a {
    color: white !important;
}
.SerchBTn{
    background: -webkit-linear-gradient(right, #fa4299, #a445b2);
    outline: 2px solid white;
    color: white;
}
.SerchBTn:hover{
    color: white;
}

